# Terraform specific files
*.tfstate
*.tfstate.backup
**/.terraform/*
# Crash log files
crash.log
crash.*.log
# Ignore CLI configuration files
*.terraformrc
.terraformrc
# Ignore sensitive files
*.tfvars
*.tfvars.json
